body {
  margin-left: 47px;
  margin-top: -5px;
}
h1 {color: blue}
h2 {color: #F9AF12}
ul{
    list-style-type: square;
    color: blue;
}
.Fruits {
  color: black;
  list-style-type: disc;
}
.Vegetables {color: black;}
#Apple {color: red;}
